body {
  font-family: "Bebas Neue", sans-serif;
  font-family: "Lato", sans-serif;
}

h1 {
  margin: 50px 30px 0;
  font-size: 24px;
  font-weight: 100;
}

ul {
  margin-left: 30px;
  padding: 0;
  font-size: 16px;
  font-weight: 100;
  line-height: 1, 5;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  position: relative;
  margin-top: -10px;
  width: 100px;
}

li:first-letter {
  text-transform: capitalize;
}

p:first-letter {
  text-transform: capitalize;
}

a:hover {
  text-decoration: underline;
}

.weather-conditions {
  margin: 20px 30px;
  padding: 0;
}

.container {
  margin: 60px auto;
  max-width: 600px;
}

.weather-app {
  border: 1px solid #dadde1;
  padding: 15px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 600px;
}

.col-8 {
  display: block;
  margin: 0 auto;
  padding: 80px 50px;
  font-size: 40px;
  font-weight: 400;
}

.weather-week {
  border: 1px solid #dadde1;
  padding: 15px;
  margin: 20px auto;
  border-radius: 10px;
}

.col-3 {
  text-align: center;
}

.weather-emoji {
  display: block;
  margin: 0 auto;
  font-size: 30px;
}

.week-temperature {
  text-align: center;
}

.footer-note {
  font-size: 12px;
  text-align: center;
}

.col-8 .active {
  color: #111;
  cursor: default;
}

.col-8 .active:hover {
  text-decoration: none;
}
